<h2>Students</h2>
<ul class="students">
    <li *ngFor="let student of students" [class.selected]="student === selectedStudent" (click)="onSelect(student)">
        <span class="badge">{{student.id}}</span>
        {{student.name}} | 
        <i>{{student.major}}</i>
    </li>
</ul>

<div *ngIf="selectedStudent">

    <h2>{{selectedStudent.name}} Details</h2>
    <div><span>id: </span>{{selectedStudent.id}}</div>
    <div>
      <label>major:
        <input [(ngModel)]="selectedStudent.major" placeholder="major"/>
      </label>
    </div>
  
</div>









<!-- <h2>Students</h2>
<ul class="students">
    <li *ngFor="let student of students">
        <span class="badge">{{student.id}}</span>
        {{student.name}} | 
        <i>{{student.major}}</i>
    </li>
</ul>

<li *ngFor="let student of students" (click)="onSelect(student)"></li>
 -->



<!-- <h2>{{student.name}} Details</h2>
<h3>{{student.id}} </h3>
<h3>{{student.major}} </h3> -->

<!-- <div>
    <label for="major">Change Major: </label>
        <input id="major" [(ngModel)]="student.major" placeholder="major">
</div> -->
